html, body {
    height : 100%;
}
/*****Start Media types******/
/*iPhone < 5:*/
@media screen and (device-aspect-ratio: 2/3) {
	.animation-size-for-iframe {
	width: 330px;
	height: 355px;
	margin: 0px 60% 0px 0px !important;
	}
}
/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {
	.animation-size-for-iframe {
	width: 330px;
	height: 355px;
	margin: 0px 60% 0px 0px !important;
	}
}
/*iPad:*/
@media screen and (device-aspect-ratio: 3/4) {
	.animation-size-for-iframe {
	width: 330px;
	height: 355px;
	margin: 0px 33.3% 0px 28.3% !important;
	}
}
/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */

}
/* Smartphones (landscape) ———– */
@media only screen and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ———– */
@media only screen and (max-width : 320px) {
/* Styles */
}
/* iPads (portrait and landscape) ———– */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */
	/*.animation-size-for-iframe {
	width: 330px;
	height: 355px;
	margin: 0px 33.3% 0px 28.3% !important;
	}*/
}
/* iPads (landscape) ———– */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
/* Styles */
	/*.animation-size-for-iframe {
	width: 330px;
	height: 355px;
	margin: 0px 33.3% 0px 23.3% !important;
	}*/
}
/* iPads (portrait) ———– */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
/* Styles */
   /*.animation-size-for-iframe {
	width: 330px;
	height: 355px;
	margin: 0px 33.3% 0px 23.3% !important;
	}*/
}
/* Desktops and laptops ———– */
@media only screen and (min-width : 1224px) {
/* Styles */

}
/* Large screens ———– */
@media only screen and (min-width : 1824px) {
/* Styles */

}
/* iPhone 4 ———– */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
	/*.animation-size-for-iframe {
	width: 330px;
	height: 355px;
	margin: 0px 33.3% 0px 23.3% !important;
	} */ 
}
/*no erase pls*/
/*.animation-size-for-iframe {
	width: 330px;
	height: 342px;
	margin: 0px 33.3% 0px 33.3% !important;
}*/
/*****End Media types******/

iframe {
	border-width: 0;
}

fieldset label {
	text-transform: uppercase;
}

.icon_cake {
	background: url('images/Ponque.png') no-repeat center;
	background-size: 38px 38px;
	background-repeat:no-repeat;
}

.icon_line {
	background: url('images/Lineal.png') no-repeat center;
	background-size: 38px 38px;
	background-repeat:no-repeat;
}

.icon_bars {
	background: url('images/Barras.png') no-repeat center;
	background-size: 38px 38px;
	background-repeat:no-repeat;
}

.icon_map {
	background: url('images/Mapa.png') no-repeat center;
	background-size: 38px 38px;
	background-repeat:no-repeat;
}

.icon_num {
	background: url('images/Numero.png') no-repeat center;
	background-size: 38px 38px;
	background-repeat:no-repeat;
}

.btn_secundario {
	display: block;
	width: 100%;
	height: 60px;
}

#home .ui-content {
	padding: 5px;
}

.sidebar {
	width: 35% !important;
  	max-width: 200px;
  	float: right !important;
}

.sidebar a {
	text-shadow: none !important;
	font-size: 80%;
	text-decoration: none;
	color: #fff !important;
	display: block;
	text-align: center;
	padding-top: 10%;
	margin: 4% 0;
	overflow: hidden;
	font-weight: bold !important;
}

.icon_health {
	background: url('images/health_end.png') #29abe2 no-repeat center 70%;
	background-size: 40%;
}

.icon_location {
	background: url('images/location_end.png') #ed1e79 no-repeat center 70%;	
	background-size: 40%;
}

.icon_person {
	background: url('images/person_end.png') #fcee21 no-repeat center 70%;
	background-size: 40%;
}

#home .ui-content p {
	margin: 0;
	padding: 0;
}

#counter-reg, #counter-regi, #counter-mun {
	font-size: 350%;
	color: #ccc;
}

#pie .ui-content, #lineal .ui-content, #bars .ui-content, #maps .ui-content, #table .ui-content {
	padding: 40px 0 70px 0;
}